<div class="container d-flex justify-contain-between">
  <div class="col col-lg-6 division-1">
    <img src="../../../assets/Login/Alphametrix_Logo_01.png" alt="AlphaMerticX_Logo" class="AlphaMerticX_Logo">
    <span class="Login Headline3">
      Login
    </span>
    <p class="Login-to-Alphametricx">
      Login to Alphametricx
    </p>
    <form action="">
        <div class="form-group col-6">
          <label for="" class="Register_Email_Label">Register Email</label>
          <input type="email" class="form-control Register_Email "/>
        </div>
        <div class="form-group col-6">
          <label for="" class="Password_Label">Password</label>
          <input type="password" class="form-control Password">
        </div>

        <button class="btn btn-primary Login_Button">
          Login
        </button>


        <label class="Trouble_In_Login">
          Trouble Loggin in?
        </label>

    </form>

    <hr/>

    <footer class="">
      <div class="d-flex flex-row justify-content-between ">
      <label for="" class="text-primary Contact_Us">Contact Us</label>
      <label for="" class=" Terms_and_Condition">Terms and Conditions</label>
      <label for="" class=" Copy_Right">&#169;2022 AlphametricX </label>
    </div>
    </footer>
  </div>
  <div class="col col-lg-6">
    <img src="../../../assets/Right_div/image 18@3x.png" alt="Wallpaper" class="Wallpaper">
    <div class="Rectangle-710"></div>
  </div>
</div>
