.background{
  width: 1440px;
  height: 2512px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: -30px;
  background-color: var(--bw-grey-01);
  /* float: left; */

}


.PageTitleSection{
  width: 1440px;
height: 92px;
flex-grow: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 10px;
padding: 16px 24px;
border: solid 1px var(--bw-grey-01);
background-color: var(--bw-white);
margin-left: -6%;
}

.title{
  height: 44px;
  flex-grow: 1;
  font-family: Inter;
  font-size: 37px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: -0.74px;
  text-align: left;
  color: var(--bw-black);
}
