<header class="container ">
  <div class=" d-flex flex-row ">
    <img src="../../../assets/Logos/Alphametrix_Logo_01.png" alt="" class="logo">
    <div class="AplhaComponentsHeaderTabs">
      <div class="home">
        <label>Home</label>
      </div>
      <div class="search">
        <label>Search</label>
      </div>
      <div class="dashboard">
        <label>Dashboard</label>
        <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up"></mat-icon>
      </div>
      <div class="newsletter">
        <label>Newsletter</label>
      </div>
      <div class="setting">
        <label>Settings</label>
      </div>
    </div>
    <div class="profile ">
      <div class="icons">
        <!-- <i class="fa-sharp fa-solid fa-circle-question"></i> -->
        <!-- <i class="fa-sharp fa-solid fa-bell"></i> -->
      </div>
      <div class=" d-flex flex-row justify-content-start">
        <span for="" class="username">Jessica Robinson
        </span>

        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBcg5OV7m4Ojt-6P7o0JwzgBcZosZwisJw0A&usqp=CAU" alt="" class="profile-img">
      </div>
    </div>

  </div>
</header>
