<nav class="container LeftPannel">
  <div class="card">
    <div class="card-body brand">
      <div class="Group">
        <img src="../../../../assets/Icons/24x24/ChartSample.png" alt="" class="">
        <label for="" class="subtitle">Brand</label>
      </div>
      <div class="details">
        <span class="info">
          Ideal for generating Select standard template to Lorem Ipsum is simply dummy text
        </span>
        <div class="template-helper">
          <span class="chart">
            6 Charts Included
          </span>
        </div>
      </div>


    </div>
  </div>
  <div class="card" *ngIf="">
    <div class="card-body brand">
      <div class="Group-1">
        <img src="../../../../assets/Icons/24x24/ChartSample.png" alt="" class="">
        <label for="" class="subtitle">Compentitive</label>
      </div>
      <div class="details">
        <span class="info">
          Ideal for generating Select standard template to Lorem Ipsum is simply dummy text
        </span>
        <div class="template-helper">
          <span class="chart">
            6 Charts Included
          </span>
        </div>
      </div>


    </div>
  </div>
  <div class="card">
    <div class="card-body brand">
      <div class="Group-2">
        <img src="../../../../assets/Icons/24x24/ChartSample.png" alt="" class="">
        <label for="" class="subtitle">Industry</label>
      </div>
      <div class="details">
        <span class="info">
          Ideal for generating Select standard template to Lorem Ipsum is simply dummy text
        </span>
        <div class="template-helper">
          <span class="chart">
            6 Charts Included
          </span>
        </div>
      </div>


    </div>
  </div>
  <div class="card">
    <div class="card-body brand">
      <div class="Group-3">
        <img src="../../../../assets/Icons/24x24/ChartSample.png" alt="" class="">
        <label for="" class="subtitle">People</label>
      </div>
      <div class="details">
        <span class="info">
          Ideal for generating Select standard template to Lorem Ipsum is simply dummy text
        </span>
        <div class="template-helper">
          <span class="chart">
            6 Charts Included
          </span>
        </div>
      </div>


    </div>
  </div>
  <div class="card">
    <div class="card-body brand">
      <div class="Group-4">
        <img src="../../../../assets/Icons/24x24/ChartSample.png" alt="" class="">
        <label for="" class="subtitle">Custom</label>
      </div>
      <div class="details">
        <span class="info">
          Ideal for generating Select standard template to Lorem Ipsum is simply dummy text
        </span>
        <div class="template-helper">
          <span class="chart">
            6 Charts Included
          </span>
        </div>
      </div>


    </div>
  </div>
</nav>
