.brand{
  width: 1110px;
  height: 296px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0 0 20px;
  background-color: var(--bw-white);
}

.topDashboard{
  width: 1110px;
  height: 56px;
  margin: 0 0 8px;
  padding: 20px 20px 8px;
  display: flex;
  flex-direction: row;
}

.download{
  width: 166px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  margin: 2px 0 2px 724px;
  padding: 0;
}

.select{
  width: 62px;
  height: 16px;
  flex-grow: 0;
  font-family: Inter;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: -0.26px;
  text-align: left;
  color: var(--bw-grey-04);

}

.share{
  width: 36px;
  height: 16px;
  flex-grow: 0;
  font-family: Inter;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: -0.26px;
  text-align: left;
  color: var(--bw-grey-04);

}

.icon{
  width: 30px;
  height: 13px;
  margin: 0 0 0 12px;
}

.Search_time{
  width: 1110px;
  height: 72px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0 20px;
}

.search{
  width: 684px;
  height: 72px;
  margin: 0 8px 0 0;
  padding: 12px;
  border-radius: 8px;
  border: solid 1px var(--bw-grey-01);
  background-color: var(--bw-white);
}

.Select_Search{
  width: 85px;
  height: 16px;
  margin: 0 501px 8px 0;
  font-family: Inter;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: -0.26px;
  text-align: left;
  color: var(--bw-black);
}

.icon-1{
  margin-left: 32rem;
  font-size: x-small;
}


.subSearch{
  width: 96px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  margin: 8px 490px 0 0;
  padding: 4px 8px;
  border-radius: 4px;
  border: solid 1px var(--bw-grey-02);
  background-color: var(--bw-grey-01);
  flex-grow: 0;
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.24px;
  text-align: center;
  font-size: 10px;
}



.edit{
  width: 70px;
  height: 16px;
  margin: 12px 4px 4px 20px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.24px;
  text-align: right;
  color: var(--brand-alpha-blue);
}

.time{
  width: 378px;
  height: 72px;
  margin: 0 0 0 8px;
  padding: 12px;
  border-radius: 8px;
  border: solid 1px var(--bw-grey-01);
  background-color: var(--bw-white);

}

.Timeline{
  width: 53px;
  height: 16px;
  margin: 0 285px 8px 0;
  font-family: Inter;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: -0.26px;
  text-align: left;
  color: var(--bw-black);
}

.icon-2{
  width: auto;
  height: auto;
  margin: 0 0 8px 4px;
  object-fit: contain;

}

.time_days{
  width: 306px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  margin: 8px 32px 0 0;
  padding: 0;

}


.one_month{
  width: 30px;
  height: 20px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3px;
  padding: 4px 8px;
  border-radius: 12px;
  background-color: #dae1f9;
  margin-top: -4px ;
  margin-right: 12px;
  text-align: center;

}

.label{
  width: 44px;
  height: 16px;
  flex-grow: 0;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.24px;
  text-align: left;
  color: var(--brand-alpha-blue);

}

.widgets{
  width: 1070px;
  height: 132px;
  padding: 12px;
  margin-left: 20px;
  border-radius: 8px;
  border: solid 1px var(--bw-grey-01);
  background-color: var(--bw-white);
}

.addOn{
  width: 464px;
  height: 84px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  margin: 8px 566px 0 0;
  padding: 0;
}

.outlet{
  width: 56px;
  height: 56px;
  margin: 0 0 4px;
  padding: 12px 12px 12px 12px;
  border-radius: 8px;
  background-color: var(--brand-alpha-blue);
}

.outlet-1{
  width: 56px;
  height: 56px;
  margin: 0 0 4px;
  padding: 12px 12px 12px 12px;
  border-radius: 8px;
  border: solid 1px var(--bw-grey-01);
  background-color: var(--bw-white);
}

.article{
  width: 43px;
  height: 24px;
  margin: 16px 10px 0px -3px;
  font-family: Inter;
  font-size: 9px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.18px;
  text-align: center;
  color: var(--bw-black);
}
